#### Boolean selection

 - boolean Series 가 []와 함께 사용되면 True값에 해당하는 값만 새로 반환되는 Series 객체에 포함됨
 
 - 다중 조건의 경우, &(and), |(or)를 사용하여 연결 가능

In [58]:
s = pd.Series(np.arange(10), np.arange(10)+1)
s

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int64

In [59]:
s > 5

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [60]:
s[s > 5]

7     6
8     7
9     8
10    9
dtype: int64

In [61]:
s[s % 2 == 0]

1    0
3    2
5    4
7    6
9    8
dtype: int64

In [63]:
s.index > 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [64]:
s[s.index > 5]

6     5
7     6
8     7
9     8
10    9
dtype: int64

In [69]:
s[(s > 5) & (s < 8)]

7    6
8    7
dtype: int64

#### (s>=7).sum()
#### (s[s>=7]).sum()

In [70]:
(s>=7).sum()

3

In [71]:
(s[s>=7]).sum()

24

In [73]:
7+8+9

24

#### series 값 변경

 - 추가 및 업데이트 : 인덱스를 이용
 - 삭제 : drop 함수 이용

In [78]:
s = pd.Series(np.arange(100,105),['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [79]:
s['a']

100

In [102]:
s['k'] = 105
s

a    100
b    101
c    102
d    103
e    104
k    105
dtype: int64

In [98]:
s.drop('k') # copy

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [99]:
s

a    100
b    101
c    102
d    103
e    104
k    105
dtype: int64

In [103]:
s.drop('k',inplace=True) # 원래 값에서 삭제 
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [106]:
s[['a','b']] = [300,900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### slicing 

 - list, ndarray 와 동일하게 적용

In [107]:
s1 = pd.Series(np.arange(100,106))

In [108]:
s1

0    100
1    101
2    102
3    103
4    104
5    105
dtype: int64

In [109]:
s1[:3]

0    100
1    101
2    102
dtype: int64

In [110]:
s1 = pd.Series(np.arange(100,105),['a','b','c','d','e'])
s1

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [113]:
s1['c':'e']

c    102
d    103
e    104
dtype: int64