
## python

1.	변수
    -	데이터를 저장하는 공간, 변수
    -	저장공간(memory)에 값을 생성하고, 이름을 지정
      - 대입 연산자를 사용하여 왼쪽은 변수명, 오른쪽은 데이터가 위치

In [0]:
print('Hello World')

Hello World

### 변수

In [0]:
a= 10 # int
b= 11.4 # float

### comment

In [0]:
# this line is very important
# so don't delete those lines

### print 함수

In [0]:
print(a,b)

6 4

#### print 함수 설정
 - sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
 - end : 마지막에 출력할 문자열

In [0]:
print(a,b,10,100,sep="*",end='!')

6*4*10*100!

### 변수 값 확인법 

 - print() 함수 사용
 - 변수 값을 코드의 마지막에 위치 시킨 후 실행
   - 이 경우 output 으로 변수의 값이 출력

In [0]:
print(a)
print(a,b)

a

6
6 4

6

### variable naming (변수 이름 규칙)

 - 숫자로 시작하는 이름을 제외하고 영문 대소문자, _, 숫자로 구성가능
 - 아래의 예쩨는 모두 vaild 한 변수 이름
 - 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
   - 코드를 읽는 것을 더 쉽게 할 수 있음
   - e.g) a=1000의 경우보다 student_num = 1000 으로 명시하는 것이 변수에 대한 이해가 빠름

### Type 함수

 - 해당 변수, 값의 타입을 알고자 할 때 사용

In [0]:
a = 10
b = 11.4

type(a)

int

### None

 - 아무런 값을 갖지 않을 떄 사용
 - 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 떄 사용
 - 기타 언어의 NULL, null 등과 같은 의미로 사용

In [0]:
c = None
print(c)

None

### comparison operator (비교 연산자)

 - 프로그래밍에서는 비교를 할 경우, = 대신 == 을 사용
 - <, > (작다, 크다)
 - <=. >= (작거나 같다, 크거나 같다)
 - == 같다
 - !- 같지 않다
 - 비교 연산자의 결과는 bool 타입

In [0]:
a = 5
b = 4

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

### number(숫자형 타입)
 
  - 정수, 실수로 구성
  - 수학의 기본 연산자(가감승제) 사용 가능

### operator priorities (연산자 우선순위)

 - 기본적인 수학의 연산자와 동일
 - 강제로 연산을 선수하기 위해선, 괄호를 사용

In [0]:
a=5
b=4

a+b*4

21

## 연습문제

In [0]:
a=9
print(a)
print(a-3)
print(a)

9
6
9

### expression evaluation & assignment(식평가 & 대입)

 - 변수의 값이 변경되기 위해서는 = 을 사용하여 대입이 발생하는 경우에만 해당

In [0]:
a = 9
a-3 
print(a)

9

In [0]:
a = 9
t = a - 3
a = t

print(a)

6

In [0]:
a = 9 
a = a - 3
print(a)

6

In [0]:
a = 9
a -= 3

print(a)

6

### String(문자열)

 - 복수개의 문자를 순서대로 나열한 것
 - 문자열은 ' 또는 " 사이에 문자를 넣어서 생성
 - 문자열 자체에 , 가 있는 경우에는 각각 그 반대의 기호로 생성

### escape string

 - 문자열내의 일부 문자의 의미를 달리하여 특정한 효과를 주는 것
 - \n : new line , \t : tab등

### indexing & slicing string ( 문자열 인덱스 및 추출 )
 
  - 문자열의 각 문자는 순서가 있음
  - 이때 각 문자열의 순서를 인덱스라고 함
  - 첫번째 문자부터 마지막까지 차례대로 순서를 가짐
  - 첫번째 시작문자의 순서는 0 으로 시작 ( 1이 아님 )

## 연습문제

In [0]:
# 문자열의 마지막 문자의 순서의 값은?

a = "Hello World" #길이 : 11 

a[10]

'd'