### collection 의 길이

 - len() 내장함수로 계산 가능
 - 내장함수란 파이썬 내부에 구현되어 있어서, import 하지 않고도 사용가능한 함수를 의미
 - abs,dlen, type, range등이 있음

In [0]:
print(a)
print(len(a))

### range 함수

 - 리스트를 쉽게 만들 수 있는 내장함수
 - 주어진 값에 따라 다양한 결과를 반환

In [0]:
list(range(1,101))

In [0]:
list(range(1,101,5))

### 1 - 100 사이의 5의 배수만을 갖는 리스트를 생성하시오

In [0]:
list(range(5,101,5))

### while 문 구구단

In [0]:
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x , 'x', y, '=' ,x*y)
        y += 1
    x += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 1-100 까지의 정수 중에 2의 배수 또는 11의 배수를 출력하시오

In [0]:
num = list(range(1,101))

for x in num:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

### 최댓값, 최솟값

In [0]:
## sort 함수 ( 정렬 사용 )

a = [22,1,3,4,7,98,21,55,87,99,19,20,45]

a.sort()
a[0],a[-1]

(1, 99)

In [0]:
# 처음 만나는 값을 최소 값으로 가정, 
# 그 후 숫자를 만날 때마다 현재 최소값보다 그 숫자가 작으면 최소값을 그 숫자로 업데이트

a = [22,1,3,4,7,98,21,55,87,99,19,20,45]

_min = a[0]
for x in a :
    if x < _min:
        _min = x
print(_min)

1

In [0]:
_max = a[0]
for x in a :
    if x > _max:
        _max = x
print(_max)

99

### 최대, 최소 동시

In [0]:
_min = a[0]
_max = a[0]

for x in a :
    if x < _min:
        _min = x
    if x > _max:
        _max = x
    
print(_min, _max)

1 99

### 평균

In [0]:
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]

In [0]:
# while

i = 0
_sum = 0
while i < len(a):
    _sum += a[i]
    i += 1
print(_sum / len(a))

37.0

In [0]:
# for

_sum = 0

for x in a :
    _sum  += x
print(_sum / len(a))

37.0