### 함수

  - 지금까지 무심코 코드에서 사용된 많은 함수들이 존재
  - ex) sum , len, range
  - 함수란, 우리가 알고 있는 개념처럼 주어진 입력에 대해서 의도된 출력을 전달하는 역할을 한다
  
      - range : 정수를 입력으로 전달하면 [0,정수] 로 이루어진 리스트를 생성하는 역할
      - sum : 리스트, 튜플 등을 입력으로 전달하면 전체 아이템의 합을 출력으로 전달하는 역할
      - len : 리스트, 튜플 등을 입력으로 전달하면 아이템의 개수를 출력으로 전달하는 역할

In [0]:
a = [1,2,3,4]

length = len(a)
print(length)

4

In [0]:
summation = sum(a)
print(summation)

10

### 함수의 정의

 - 정의시 최초에 def 키워드 사용
 - argument 정의 (함수에 입력으로 전달하는 값을 의미, argument 또는 parameter라고 함)
 - :(콜론) -> 함수 역시 코드 블록이기 때문에 필요
 - body (함수의 구현 부분, 함수 역시 코드 블록이기 때문에 들여쓰기 된 부분까지 함수의 코드 블록으로 인지함)
     - 함수를 호출한 코드(caller)로 함수가 해당 기능을 수행하고 완료된 값(output)을 전달하기 위해 return키워드 사용
     - 즉, return 이후에 오는 값을 caller로 전달
     
 - 함수의 네이밍 역시 중요!!!
     - 어떤 기능을 하는 함수인지 이름으로 최대한 나타날 수 있게 해야함
     - get_a(x) , get_student_name(o)

In [0]:
def add(x, y):
    n = x + y
    return n

In [0]:
l = len([1,2,3])
c = add(30,300)

print(c)

330

In [0]:
c = add(30 , 100)

print(c)

130

### 함수 네이밍

In [0]:
def substract(x , y):
    sub = x - y
    return sub
print(substract(4,3))

1

### parameter(argument) 인자


 - 함수에 전달되는 input
 - 입력이 필요하지 않을 수도, 1개의 입력만 있을 수도, 여러개의 입력이 존재할 수도 있음
 - 파라미터로 int , string, float , boolm, list, dict 등 어떤 파이썬 객체도 전달 가능
 - 함수도 함수의 파라미터로 전달가능
 - python의 경우, 타입 명시가 없기 때문에 함수 생성시 의도된 파라미터의 타입에 맞게 입력을 전달하는 것이 중요
 - 파라미터를 전달할 때, 정의된 순서에 따라 값을 전달하는 것이 중요

In [0]:
def test():
    print('haha')
    print('good')
    
    return 100

a = test()
print(a)

haha
good
100

In [0]:
def test(x, y):
    print(x, y)
    n = x+y
    return n

a = test(10,20)
print(a)

10 20
30

### Default parameter(기본인자)

 - 함수의 파라미터에 기본값 지정 가능
 - 파라미터를 명시하지 않을 경우, 지정된 기본 값으로 대체

In [0]:
def add(x, y, z=5):
    a = x + y + z
    return a

add(10,20, 30)

60

### 기본 파라미터의 다른 예
  - print 함수
    - sep, end, file 등 여러 기본 파라미터를 가짐

### 키워드 파라미터


 - python의 경우, 파라미터에 값을 전달할 떄 파라미터의 이름을 명시하여 전달 가능
 - 파라미터 이름을 사용하지 않을 경우, 기본적으로 순서에 맞게 전달

In [0]:
def test(x,y,z):
    a = x + y + z
    return a

test(x = 10,z = 20, y = 30)

60

### return

 - 기본적으로 함수의 종료를 명시
      - return 옆에 값이나 수식이 있다면 해당 값을 호출자(caller)에게 반환
      - return 만 존재다면 none 반환
      - ruturn이 없는 경우, 기본적으로 함수 코드 블록이 종료되면 종료로 간주, 이때도 None 반환

In [0]:
def weird_multiply(x,y):
    if x > 10:
        return x * y
    
    print(x + y)
    return(x + 2) * y

    
weird_multiply(1,5)

6

15

In [0]:
def weird_multiply(x,y):
    if x > 10:
        return x + y
c = weird_multiply(1,5)
print(c)

None

### multuple return (복수값 반환)

 - tuple 반환을 하여 복수개의 값 리턴 가능

In [0]:
def add_mul(x,y):
    s = x + y
    m = x * y
    
    return s, m

c = add_mul(2,3)
print(type(c))
print((c))

<class 'tuple'>
(5, 6)

### variable scope(변수의 범위)

 - 변수가 참조 가능한 코드상의 범위를 명시
 - 함수내의 변수는 자신이 속한 코드 블록이 종료되면 소멸됨
 - 이렇게 특정 코드 블록에서 선언된 변수를 지역변수라고 함
 - 반대로 가장 상단에서 정의되어 프로그램 종료 전까지 유지되는 변수를 전역번수라고 함
 - 같은 이름의 지역 변수와 전역변수가 존재할 경우, 지역 변수의 우선 순위가 더 높음

In [0]:
num1 = 10
num2 = 30

def test(num1 , num2):
    print(num1 , num2)
    return num1 + num2

test(30,40)

print(num1, num2)

30 40
10 30

### variable length argument

 - 전달되는 파라미터의 개수가 고정적이지 않은 경우 사용
  - print
  - format

In [0]:
def test(*args):  #가변길이 함수
    print(type(args))

test(10)

<class 'tuple'>

### keyword paramenter

 - **가 붙은 경우에는 키워드 파라미터로 인식
 - 함수 호출시, 파라미터의 이름과 값을 함께 전달 가능

In [0]:
def test2(**x):
    print(type(x))

test2(a=1, b=2)

<class 'dict'>

In [0]:
def test2(**kwargs):
    for key, value in kwargs.items():
        print('key:',key, 'value:', value)
    
test2(a=1)

key: a value: 1

### 가변길이 함수의 대표적인 예 "문자열 포맷 함수"

 - 여러가지 값과 포맷을 이용하여 문자열을 정의할 수 있는 함수
 - {} placeholder를 문자열 내에 위치 시킨 후, 해당 위치에 format 함수로 전달된 값으로 대체하여 문자열 생성

In [0]:
a = '오늘 온도는 : {today_temp}도, 강수확률은: {today_prob}%, 내일 온도는 : {tomorrow_temp}도'.format(today_temp=20,today_prob=50,tomorrow_temp = 21)

print(a)

오늘 온도는 : 20도, 강수확률은: 50%, 내일 온도는 : 21도

### lambda함수

 - 단일문으로 표현되는 익명함수
 - 익명함수란 이름이 없는 구현체만 존재하는 간단한 함수를 의미
 - 코드 상에서 한번만 사용되는 기능이 있을 때, 굳이 함수로 만들지 않고 1회성으로 만들어서 쓸 때 사용

In [0]:
def square2(x):
    return x**2

square2(5)

25

In [0]:
square = lambda x:x**2
type(square)
square(5)

25

In [0]:
def add(x,y):
    return x + y

add2 = lambda x,y : x+y
add2(5,6)

11

In [0]:
def str_len(s):
    return len(s)

str_len('good')

4

In [0]:
strings = ['bob', 'charles', 'alexander3', 'teddy']
#strings.sort(key = str_len)
strings.sort(key = lambda s :len(s))
print(strings)

['bob', 'teddy', 'charles', 'alexander3']

### filter , map, reduce

 - lambda 가 유용하게 사용되는 3가지 대표적인 함수
 - 함수형 프로그래밍의 기본 요소이기도 함
 - filter : 특정 조건을 만족하는 요소만 남기고 필터링
 - map : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트를 반환
 - reduce : 차례대로 앞 2개의 원소를 가지고 연산, 연산의 결과가 또 다음 연산의 입력으로 진행됨. 따라서 마지막까지 진행되면 최종 출력은 한개의 값만 남게됨

In [0]:
def even(n):
    return n % 2 == 0

even(3)

False

In [0]:
nums = [1,2,3,6,8,9,10,11,13,15]

list(filter(even, nums))

[2, 6, 8, 10]

In [0]:
list(filter(lambda n:n%2==0 , nums))

[2, 6, 8, 10]

In [0]:
# map
# 주어진 리스트, 리스트의 제곱을 한 숫자로 새로운 리스트

nums = [1,2,3,6,8,9,10,11,13,15]
list(map(lambda n:n**2, nums))

[1, 4, 9, 36, 64, 81, 100, 121, 169, 225]

In [0]:
list(map(even, nums))

list(map(lambda n:n&2==0, nums))

[True, False, False, False, True, True, False, False, True, False]

In [0]:
#reduce

import functools

a = list(range(1,11))
a = [1,3,5,8]
# a = [17] // 리스트 내의 모든 숫자의 합


functools.reduce(lambda x,y:x*y, a)

120

### 주어진 숫자 리스트의 평균을 구하는 함수

In [0]:
# 입력 : 숫자 리스트
# 출력 : 숫자 리스트 평균값

def mean(nums):
#    _sum=0
#    for i in nums:
#       _sum += i
    
    return sum(nums) / len(nums)

print(mean([1,2,3]))
print(mean([1.2,2.1,3.4]))

2.0
2.233333333333333

### 해당 숫자가 소수인지 아닌지 판별

In [0]:
# 입력 : 양의 정수 1개
# 출력 : boolean (소수 : True , 합성수 : False)


def is_prime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
    return True

print(is_prime(100))
print(is_prime(90))

False
False

### 2부터 해당 숫자 사이에 소수가 몇개인지 출력하는 함수

In [0]:
# 입력 : 양의 정수 1개
# 출력 : 2- 해당 숫자 사이의 소수의 개수

def num_prime2(num):
    count = 0
    for i in range(2, num+1):
        if is_prime(i):
            count += 1
    return count

print(num_prime2(7))
print(num_prime2(11))

4
5

### 모듈 임포트

 - 그동안 사용했던 함수들 처럼, 다양한 기능들이 미리 함수로 구현되어 모듈 형태로 제공
 - requests : HTTP 요청/응답 모듈
 - numpy : 수치해석 모듈
 - pandas : 데이터 분석 모듈

In [0]:
import requests
resp = requests.get("http://google.com")
resp.text

### import

In [0]:
import math

In [0]:
math.pi

3.141592653589793

In [0]:
math.cos(100)

0.862318872287684

### from import

In [0]:
from math import pi
from math import cos

In [0]:
pi
cos(100)

0.862318872287684

### import

In [0]:
math.sin(200)

-0.8732972972139945

In [0]:
from math import *

In [0]:
sin(200)

-0.8732972972139945

In [0]:
e

2.718281828459045

### as

In [0]:
import math as m
m.exp(3)

20.085536923187668